@import "styles/index";

.root {
    display: flex;
    flex-direction: column;
    @include list(24px, false);
}

.title {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: $dark;

    @include mq($PhoneWidth + 1, max) {
        font-size: 20px;
    }
}

.items {
    display: flex;
    @include list(16px, true);

    @include mq($SmDesktopWidth + 1, max) {
        flex-direction: column;
        @include list(16px, false);
    }
}