@import "styles/index";

.root {
    border-radius: 30px;
    background: #3575F5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include list(32px, false);
    padding: 64px;
    padding-bottom: 40px;
    position: relative;

    @include mq($SmDesktopWidth + 1, max) {
        padding: 16px;
        align-items: center;
        @include list(24px, false);
        padding-bottom: 0;
    }
}

.title {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0;

    @include mq($SmDesktopWidth + 1, max) {
        text-align: center;
    }

    @include mq($PhoneWidth + 1, max) {
        font-size: 20px;
    }
}

.bulgaria {
    background: $green;
}

.text {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;

    @include mq($SmDesktopWidth + 1, max) {
        text-align: center;
    }

    @include mq($PhoneWidth + 1, max) {
        font-size: 14px;
    }
}

.phone {
    width: 572px !important;
    height: 497px !important;
    inset: unset !important;
    right: 0 !important;
    top: -40% !important;
}

.btn {
    @include mq($PhoneWidth + 1, max) {
        font-size: 14px !important;
    }
}