@import "styles/index";

.root {
  background-color: $white;
  border-radius: 30px 30px 0px 0px;
  padding: 32px 0;
  position: relative;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @include mq($MdDesktopWidth + 1, max) {
    width: 95%;
  }

  @include mq($PhoneWidth + 1, max) {
    width: inherit;
    margin: 0 16px;
    flex-direction: column;
    @include list(24px, false);
  }
}

.info {
  display: flex;
  flex-direction: column;
  @include list(42px, false);

  @include mq($PhoneWidth + 1, max) {
    @include list(24px, false);
  }
}

.address {
  color: $dark;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px
}

.menu {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: $dark;
}

.options {
  display: flex;
  flex-direction: column;
  @include list(24px, false);
  margin-top: 32px;

  @include mq($PhoneWidth + 1, max) {
    margin-top: 24px;
  }
}

.option {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  color: $dark;
}

.item {
  display: flex;
  align-items: center;
  @include list(16px, true);
}

.label {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  color: $dark;
}

.links {
  display: flex;
  flex-direction: column;

  a {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    color: $dark;
  }
}

.logoTitle {
  
}