@import "styles/index";

.root {
    display: flex;
    flex-direction: column;
    @include list(24px, false);
}

.title {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: $dark;
}

.items {
    display: flex;
    @include list(16px, true);
}

.first {
    padding-bottom: 79px;
}

.third {
    padding-bottom: 58px;
}