@import "styles/index";

.root {
    display: flex;
    flex-direction: column;
    @include list(24px, false);
    border-radius: 30px;
    background: #FFF;
    padding: 48px 0;

    @include mq($PhoneWidth + 1, max) {
        padding: 24px 0;
    }
}

.wrapper {
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex;
    flex-direction: column;
    @include list(88px, false);

    @include mq($MdDesktopWidth + 1, max) {
        width: 95%;
    }

    @include mq($TabletWidth, max) {
        @include list(40px, false);
    }

    @include mq($PhoneWidth + 1, max) {
        width: inherit;
        margin: 0 16px !important;
    }
}