@import "styles/index";

.root {
    display: flex;
    flex-direction: column;
    @include list(24px, false);
}

.title {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: $dark;

    @include mq($PhoneWidth + 1, max) {
        font-size: 20px;
    }
}

.content {
    display: flex;
    @include list(16px, true);

    @include mq(1100px, max) {
        flex-direction: column-reverse;
    }
}

.left {
    @include mq(1100px, max) {
        margin-top: 8px;
    }
}

.right {
    display: flex;
    flex-direction: column;
    @include list(16px, false);
    flex: 1;

    @include mq(1100px, max) {
        margin-left: 0;
        @include list(8px, false);
    }
}

.top,
.bottom {
    display: flex;
    @include list(16px, true);
    flex: 1;

    @include mq($TabletWidth, max) {
        flex-direction: column;
        @include list(8px, false);
    }
}