@import "styles/index";

.root {
    display: flex;
    flex-direction: column;
    @include list(24px, false);
}

.title {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: $dark;
}

.items {}