@import "styles/index";

.root {
    display: flex;
    @include list(8px, true);
    align-items: center;

    svg {
        @include mq(800px, max) {
            width: 42px;
            height: 29px;
        } 
    }
}

.title {
    font-family: 'Genos';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    text-transform: uppercase;
}