@import "styles/index";

.root {
    padding-top: 184px;
    padding-bottom: 81px;

    @include mq($PhoneWidth + 1, max) {
        padding-top: 60px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    @include list(32px, false);
    margin: 0 auto;
    width: 58%;
    align-items: center;

    @include mq($MdDesktopWidth + 1, max) {
        width: 95%;
    }

    @include mq($PhoneWidth + 1, max) {
        width: inherit;
        margin: 0 22px;
    }
}

.title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $white;
    white-space: nowrap;
    text-align: center;

    @include mq($SmDesktopWidth, max) {
        white-space: unset;
    }

    @include mq($PhoneWidth + 1, max) {
        font-size: 32px;
    }
}

.btn {
    width: 254px;
}

.items {
    display: flex;
    @include list(12px, true);

    @include mq($PhoneWidth + 1, max) {
        flex-direction: column;
        @include list(12px, false);
    }
}