@import "styles/index";

.root {
    display: flex;
    flex-direction: column;
    @include list(24px, false);
    border-radius: 30px;
    background: #FFF;
    padding: 48px 0;
}

.wrapper {
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex;
    flex-direction: column;
    @include list(88px, false);
}