// breakepoints
$DesktopWidth: 1280px;
$MdDesktopWidth: 1200px;
$SmDesktopWidth: 992px;
$TabletWidth: 768px;
$PhoneWidth: 576px;
$LPhoneWidth: 428px;
$MPhoneWidth: 375px;
$SmPhoneWidth: 320px;

$StandartBorderRadius: 12px;
$StandartHeight: 48px;
$StandartHeightPhone: 40px;

$stepFormWidth: 632px;

//space
$space-modal: 28px;
$space-modal-mobile: 19px;

$xs-max: 768px;
$xs-max: 768px;
$md-min: 769px;
$md-medium: 1200px;
$md-max: 1600px;
$lg-min: 1601px;
$lg-medium: 1700px;
$lg-max: 2500px;
$xl-min: 2501px;

// Colors
$white: #FFFFFF;
$black: #000000;
$red: #DB4A5A;
$green: #00966E;
$light-green: #BCE8DC;
$dark: #26324A;
$dark2: #323946;
$blue: #3575F5;
$light-blue: #E0EAFF;

//ZIndex
$zIndexHeader: 20;
$zIndexTop: 100;
$zIndexDropDown: 100;
$zIndexModal: 110;
$zIndexSidePanel: 105;

//sizes
$headerMobHeight: 64px;
$fieldHeightDefault: 70px;
