@import "styles/index";

.root {
    display: flex;
    position: relative;
    padding: 60px 46px;
    padding-right: 35px;
    padding-top: 23px;
    justify-content: space-between;

    img {
        border-radius: 30px;
    }

    @include mq($TabletWidth + 1, max) {
        margin-left: -16px;
        margin-right: -16px;
        padding: 37px 15px;
        justify-content: center;
    }
}

.left {
    display: flex;
    flex-direction: column;
    @include list(71px, false);
    position: relative;
    margin-top: 37px;

    @include mq($TabletWidth + 1, max) {
        margin-top: 0;
        @include list(40px, false);
    }
}

.title {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    @include mq($PhoneWidth + 1, max) {
        font-size: 20px;
        text-align: center;
    }
}

.items {
    display: flex;
    @include list(16px, true);

    @include mq($PhoneWidth + 1, max) {
        flex-direction: column;
        @include list(16px, false);
    }
}

.icon {
    border-radius: 100%;
}

.symbol {
    position: relative;

    @include mq($TabletWidth + 1, max) {
        display: none;
    }
}